<h2><%= @author.name %></h2>

<% @author.books.each do |book| %>

  <strong><h3> Title: <%= link_to book.title, author_book_path(book) %></h3></strong>
  <strong><p> Genre: <%= book.genre %></p></strong>
  <strong><p> Price: <%= number_to_currency book.price %></p></strong>
  <strong><p> Summary: $ <%= book.summary %></p></strong>

  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :book_id, value: book.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "Add to cart"%>
  <% end %>

  <p><strong> Summary: </strong> <%= book.summary %></p>
<% end %>

<h3><%= link_to "Home", root_path %></h3>
