<% @books.each do |book| %>
  <p><%= book.title %> | <%= number_to_currency book.price %>
  <p>Title: <%= link_to book.title, book_path(book) %><br> Author: <%= link_to book.author.name, author_path(book.author) %></p>
  <p>Genre: <%= book.genre %>
  <p>Summary: <%= book.summary %></p>
<% end %>
