<strong><h2><%= @book.title %></h2></strong>
<strong><h3> Author: <%= link_to @book.author.name, author_path(@book.author) %></h3></strong>
<strong><p> Price: <%= number_to_currency @book.price %></p></strong>
<strong>Summary:</strong> <p><%= @book.summary %></p>

<%= form_for @order_item do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.number_field :quantity %>
  <%= f.submit "Add to cart"%>
<% end %></p>
<h3><%= link_to  "Home", root_path %></h3>
