<h3><%= current_user.name.capitalize %>'s Shopping Cart </h3>
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p>Title: <%= item.book.title %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "Are You Sure?", :method => "delete"} %></p>
    <p> Price: <%= number_to_currency item.book.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.book.price * item.quantity) %></p>
  <% end %>
  <p>Grand Total: <%= number_to_currency @total_cost %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
<h3><%= link_to  "Home", root_path %></h3>
